.one{
margin-left: 100px;
display: flex;
justify-content: space-between;
}
.one .hclass{
    margin-top: 0px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
}
.one .sclass{
    width: 100px;
    height: 12px;
    display: flex;
    font-weight: 150;
    margin-right: 80px;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
}
.two{
    width: auto;
    height: auto;
    margin-left: 150px;
    border-radius: 20px;
    background: rgb(198, 228, 214);
    display: flex;
    
    
}
.five{
    margin-left:150px;
    margin-bottom: 150px;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
    border: none;
    background: rgb(0, 106, 80);
    text-align: center;
  
}
.three{
    margin-left: 100px;
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    padding: 50px 0px 0px 50px ;

}
.four{
    margin-left: 100px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700px;
    padding: 0px 0px 16px 50px ;
   
}
.abba{
    padding: 64px 60px 150px 60px;
}
.part-two{
    margin-left: 150px;
    display: flex;
    justify-items: center;
}
.learn-1{
   width: 380px; 
   height: 280px;
   background: rgba(84, 144, 245, 0.2);
   border-radius: 8px;
   margin-top: 12PX;
}
.learn-2{
    width: 380px; 
    height: 280px; 
    border-radius: 8px;
    background: rgb(198, 228, 214);
    margin-top: 12PX;
    margin-left: 350PX;
    margin-right: 350PX;
}
.learn-3{
    width: 380px; 
    height: 280px; 
    border-radius: 8px;
    background-color: rgb(247, 235, 207);
    margin-top: 12PX;
}

.img-two{
    padding-top: 20px;
    padding-left: 20px;
}
.img-three{
    padding-top: 20px;
    padding-left: 20px;
}
.img-four{
    padding-top: 20px;
    padding-left: 20px;
}
.htwo{
    padding: 0px 20px 0px 20px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;  
}
.hthree{
    padding: 0px 20px 0px 20px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700; 
}
.hfour{
    padding: 0px 20px 0px 20px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700; 
}
.ptwo{
    padding: 0px 20px 0px 20px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.pthree{
    padding: 0px 20px 0px 20px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.pfour{
    padding: 0px 20px 0px 20px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.batwo{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    background-color:rgb(84, 144, 245);
    border: none;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
}
.bafour{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(255, 194, 57);
    border: none;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
}
.bathree{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    background-color:rgb(9, 161, 92);
    border: none;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
}
.header-two{
    margin-left: 150px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
}
.header-p{
    margin-left: 150px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.head-3{
    margin-left: 150px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.pthree-3{
    margin-left: 159px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.divdiva{
    width: 1280px;
     height: 402px;
     gap: 32;
     padding:48px;
     background-color: rgb(255, 255, 255); ;
     border-radius: 24px;
     margin-left: 180px;
    display: flex;
   
}
.sate{
    width: 408px;
    height: 306px;
    border-radius: 12px;
    margin-top: 50px;
    

}
.hfour-sate{
    padding-left: 32px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
}
.logo{
    padding-left: 32px;
}
.twop{
    margin-left: 32px;
    display: flex;
}
.time{
    padding-left: 20px;
}
.content{
    margin-left: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.baton-read{
    width: 120px;
    height: 35px;
    margin-left: 32px;
    background-color: rgb(0, 106, 80);
    border-radius: 4px;
    border: none;
    color:rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
}
.divdiva-two{
    width: 1280px;
    height: 402px;
    display: flex;
    gap: 32;
    padding:48px;
    background-color: rgb(255, 255, 255); ;
    border-radius: 24px;
    margin-left: 150px;
}
.div-class{
    width:1600px ;
    height: 400px;

    background-color: rgb(255, 255, 255);;
}